In [ ]:
#Presentado por: Abdel

#Espacio para importar las librerías

#Sistema
import os
import sys

#Datascience
import pandas as pd

#Analisis numérico
import numpy as np 

#Librerías Gráficas
import matplotlib.pyplot as plt
import seaborn as sns    #Estilos

#ML Y DL (Machine Learning  Y Deep Learning) 
import tensorflow as tf 
import keras
import sklearn 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split


#Importar el Datased
#dataset = pd.read_csv("/content/dataset.csv")

#import el dataset de datos
url1 = "https://drive.google.com/uc?export=download&id=1awKeUpVP-GPlk6QmrAlmkSGzrNEW3uUN" #leer de internet
dataset = pd.read_csv(url1, sep=',') #Leer archivo de url y separar por comas


dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
#Se verifican valores nulos 
F = dataset.isnull().sum()
print(F.to_string())

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0

In [ ]:
#Eliminar valores nulos
dataset['LotFrontage'].fillna(0 , inplace=True)   #280 datos nullos reemplazados por 0
dataset['GarageQual'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
dataset['GarageCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
dataset['Electrical'].fillna('Mix' , inplace=True)   #Reemplazar, Electricidad no existentes
dataset['BsmtCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes

In [ ]:
#Se revisa cuántos features hay y revisar para ver cuáles se deben decodificar
dataset.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
#Se evaluan los features que no tienen relevancia o que son muy poco correlacionados con el target
dataset.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,57.623288,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,34.664304,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,42.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,63.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,79.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
#Eliminacion de features con valores nulos o con muy poca correlacion con el target


A = ['Id', 'BsmtFullBath', 'BsmtHalfBath', 'Alley', 'PoolQC', 'Fence', 'MiscFeature','FireplaceQu', 'HalfBath', 
               'LowQualFinSF', '2ndFlrSF', 'BsmtFinSF2', 'MasVnrArea', 'GarageType', 'GarageYrBlt', 'GarageFinish',
               'BsmtFinType2', 'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'MasVnrType', 'LandSlope']

dataset.drop(A, axis='columns', inplace=True)


for i in dataset.index:    
    if dataset.loc[i,'LotArea'] >= 20000:      #Remover 5 datos atipicos en lot Area, Sugerido por el creador del dataset
        dataset.drop(index = i, axis = 'index', inplace=True)

In [ ]:
#Verificacion para que no se encuentren valores nulos
F = dataset.isnull().sum()
print(F.to_string())

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
ExterQual        0
ExterCond        0
Foundation       0
BsmtCond         0
BsmtFinSF1       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
GrLivArea        0
FullBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0

In [ ]:
# Se usa label encoder para datos categóricos
#Se importa la librería para decodificación
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
 
# Implementing LE on mfr
le.fit(dataset.MSZoning.drop_duplicates()) 
dataset.MSZoning = le.transform(dataset.MSZoning)
le.fit(dataset.Street.drop_duplicates()) 
dataset.Street = le.transform(dataset.Street)
le.fit(dataset.LotShape.drop_duplicates()) 
dataset.LotShape = le.transform(dataset.LotShape)
le.fit(dataset.LandContour.drop_duplicates()) 
dataset.LandContour = le.transform(dataset.LandContour)
le.fit(dataset.Utilities.drop_duplicates()) 
dataset.Utilities = le.transform(dataset.Utilities)
le.fit(dataset.LotConfig.drop_duplicates()) 
dataset.LotConfig = le.transform(dataset.LotConfig)
le.fit(dataset.Neighborhood.drop_duplicates()) 
dataset.Neighborhood = le.transform(dataset.Neighborhood)
le.fit(dataset.Condition1.drop_duplicates()) 
dataset.Condition1 = le.transform(dataset.Condition1)
le.fit(dataset.Condition2.drop_duplicates()) 
dataset.Condition2 = le.transform(dataset.Condition2)
le.fit(dataset.BldgType.drop_duplicates()) 
dataset.BldgType = le.transform(dataset.BldgType)
le.fit(dataset.HouseStyle.drop_duplicates()) 
dataset.HouseStyle = le.transform(dataset.HouseStyle)
le.fit(dataset.RoofStyle.drop_duplicates()) 
dataset.RoofStyle = le.transform(dataset.RoofStyle)
le.fit(dataset.RoofMatl.drop_duplicates()) 
dataset.RoofMatl = le.transform(dataset.RoofMatl)
le.fit(dataset.Exterior1st.drop_duplicates()) 
dataset.Exterior1st = le.transform(dataset.Exterior1st)
le.fit(dataset.Exterior2nd.drop_duplicates()) 
dataset.Exterior2nd = le.transform(dataset.Exterior2nd)
le.fit(dataset.ExterQual.drop_duplicates()) 
dataset.ExterQual = le.transform(dataset.ExterQual)
le.fit(dataset.ExterCond.drop_duplicates()) 
dataset.ExterCond = le.transform(dataset.ExterCond)
le.fit(dataset.Foundation.drop_duplicates()) 
dataset.Foundation = le.transform(dataset.Foundation)
le.fit(dataset.BsmtCond.drop_duplicates()) 
dataset.BsmtCond = le.transform(dataset.BsmtCond)
le.fit(dataset.Heating.drop_duplicates()) 
dataset.Heating = le.transform(dataset.Heating)
le.fit(dataset.HeatingQC.drop_duplicates()) 
dataset.HeatingQC = le.transform(dataset.HeatingQC)
le.fit(dataset.CentralAir.drop_duplicates()) 
dataset.CentralAir = le.transform(dataset.CentralAir)
le.fit(dataset.Electrical.drop_duplicates()) 
dataset.Electrical = le.transform(dataset.Electrical)
le.fit(dataset.KitchenQual.drop_duplicates()) 
dataset.KitchenQual = le.transform(dataset.KitchenQual)
le.fit(dataset.Functional.drop_duplicates()) 
dataset.Functional = le.transform(dataset.Functional)
le.fit(dataset.GarageQual.drop_duplicates()) 
dataset.GarageQual = le.transform(dataset.GarageQual)
le.fit(dataset.GarageCond.drop_duplicates()) 
dataset.GarageCond = le.transform(dataset.GarageCond)
le.fit(dataset.PavedDrive.drop_duplicates()) 
dataset.PavedDrive = le.transform(dataset.PavedDrive)
le.fit(dataset.SaleType.drop_duplicates()) 
dataset.SaleType = le.transform(dataset.SaleType)
le.fit(dataset.SaleCondition.drop_duplicates()) 
dataset.SaleCondition = le.transform(dataset.SaleCondition)

dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,3,3,0,4,5,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,3,3,0,2,24,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,3,0,4,5,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,3,0,0,6,...,272,0,0,0,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,3,0,2,15,...,0,0,0,0,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,1,3,3,0,4,8,...,0,0,0,0,0,8,2007,8,4,175000
1456,20,3,85.0,13175,1,3,3,0,4,14,...,0,0,0,0,0,2,2010,8,4,210000
1457,70,3,66.0,9042,1,3,3,0,4,6,...,0,0,0,0,2500,5,2010,8,4,266500
1458,20,3,68.0,9717,1,3,3,0,4,12,...,112,0,0,0,0,4,2010,8,4,142125
1459,20,3,75.0,9937,1,3,3,0,4,7,...,0,0,0,0,0,6,2008,8,4,147500

In [ ]:
#Verificación Dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407 entries, 0 to 1459
Data columns (total 59 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1407 non-null   int64
 1   MSZoning       1407 non-null   int64
 2   LotFrontage    1407 non-null   float64
 3   LotArea        1407 non-null   int64
 4   Street         1407 non-null   int64
 5   LotShape       1407 non-null   int64
 6   LandContour    1407 non-null   int64
 7   Utilities      1407 non-null   int64
 8   LotConfig      1407 non-null   int64
 9   Neighborhood   1407 non-null   int64
 10  Condition1     1407 non-null   int64
 11  Condition2     1407 non-null   int64
 12  BldgType       1407 non-null   int64
 13  HouseStyle     1407 non-null   int64
 14  OverallQual    1407 non-null   int64
 15  OverallCond    1407 non-null   int64
 16  YearBuilt      1407 non-null   int64
 17  YearRemodAdd   1407 non-null   int64
 18  RoofStyle      1407 non-null   int64
 19  RoofMatl       1407 non-null   int64
 20  Exterior1st    1407 non-null   int64
 21  Exterior2nd    1407 non-null   int64
 22  ExterQual      1407 non-null   int64
 23  ExterCond      1407 non-null   int64
 24  Foundation     1407 non-null   int64
 25  BsmtCond       1407 non-null   int64
 26  BsmtFinSF1     1407 non-null   int64
 27  BsmtUnfSF      1407 non-null   int64
 28  TotalBsmtSF    1407 non-null   int64
 29  Heating        1407 non-null   int64
 30  HeatingQC      1407 non-null   int64
 31  CentralAir     1407 non-null   int64
 32  Electrical     1407 non-null   int64
 33  1stFlrSF       1407 non-null   int64
 34  GrLivArea      1407 non-null   int64
 35  FullBath       1407 non-null   int64
 36  BedroomAbvGr   1407 non-null   int64
 37  KitchenAbvGr   1407 non-null   int64
 38  KitchenQual    1407 non-null   int64
 39  TotRmsAbvGrd   1407 non-null   int64
 40  Functional     1407 non-null   int64
 41  Fireplaces     1407 non-null   int64
 42  GarageCars     1407 non-null   int64
 43  GarageArea     1407 non-null   int64
 44  GarageQual     1407 non-null   int64
 45  GarageCond     1407 non-null   int64
 46  PavedDrive     1407 non-null   int64
 47  WoodDeckSF     1407 non-null   int64
 48  OpenPorchSF    1407 non-null   int64
 49  EnclosedPorch  1407 non-null   int64
 50  3SsnPorch      1407 non-null   int64
 51  ScreenPorch    1407 non-null   int64
 52  PoolArea       1407 non-null   int64
 53  MiscVal        1407 non-null   int64
 54  MoSold         1407 non-null   int64
 55  YrSold         1407 non-null   int64
 56  SaleType       1407 non-null   int64
 57  SaleCondition  1407 non-null   int64
 58  SalePrice      1407 non-null   int64
dtypes: float64(1), int64(58)
memory usage: 691.8 KB

In [ ]:
#Se procede a hacer el entreanmiento con el 70% de los datos
dataset_train, dataset_test = train_test_split(dataset, train_size=0.75, shuffle=True)
dataset_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
680,120,3,50.0,8012,1,3,3,0,4,20,...,0,0,0,0,0,5,2010,8,4,143000
1329,60,3,63.0,9084,1,0,3,0,4,8,...,0,0,0,0,0,6,2006,8,4,176500
253,80,3,85.0,9350,1,3,3,0,4,12,...,0,0,0,0,0,10,2007,1,4,158000
69,50,3,81.0,15593,1,3,3,0,0,4,...,114,0,0,0,0,7,2006,8,4,225000
360,85,3,0.0,7540,1,0,3,0,1,11,...,0,0,192,0,0,6,2007,8,4,156000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,4,60.0,7200,1,3,3,0,0,9,...,190,0,0,0,0,7,2006,8,4,125500
1028,50,3,79.0,9492,1,3,3,0,4,12,...,0,0,0,0,0,4,2007,8,4,105000
1390,20,3,70.0,9100,1,3,3,0,4,5,...,0,0,0,0,0,9,2006,8,4,235000
1289,60,3,86.0,11065,1,0,3,0,4,16,...,0,0,0,0,0,10,2006,6,5,281000
631,120,3,34.0,4590,1,3,3,0,4,16,...,0,0,0,0,0,8,2007,8,4,209500

In [ ]:
# Verfificar dataset prueba (test)

dataset_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1380,30,3,45.0,8212,1,3,3,0,4,7,...,96,0,0,0,0,6,2010,8,4,58500
1267,20,3,89.0,13214,1,0,1,0,4,23,...,0,0,0,0,0,5,2010,8,4,378500
1316,20,3,61.0,10226,1,0,3,0,4,5,...,0,0,0,0,0,1,2009,8,4,295493
1044,20,3,80.0,9600,1,3,3,0,4,14,...,0,0,0,0,0,7,2009,8,4,278000
1221,20,3,55.0,8250,1,3,3,0,4,19,...,0,0,0,0,0,8,2008,8,4,134000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,120,3,40.0,6792,1,0,3,0,4,16,...,0,0,0,0,0,3,2006,6,5,202665
711,50,0,66.0,8712,1,3,1,0,4,9,...,98,0,0,0,0,1,2010,8,0,102776
1197,75,4,65.0,8850,1,0,0,0,0,17,...,330,0,0,0,0,7,2006,5,4,144000
1447,60,3,80.0,10000,1,3,3,0,4,5,...,0,0,0,0,0,12,2007,8,4,240000
330,90,3,0.0,10624,1,0,3,0,4,12,...,0,0,0,0,0,11,2007,8,4,119000

In [ ]:
#Separación del target(SalePrice) y los features
#features--> x   y  SalePrice--->Y
#train
#elimina target y se deja lo demás
dataset_train_X = dataset_train.drop("SalePrice", axis="columns")
#solo se copia target y lo demás se elimina
dataset_train_Y = dataset_train["SalePrice"]
#test
dataset_test_X = dataset_test.drop("SalePrice", axis="columns")
dataset_test_Y = dataset_test["SalePrice"]

In [ ]:
#ALGORITMO DE PREDICCION
#es una técnica de aprendizaje supervisado que genera múltiples árboles de decisión sobre un conjunto de datos de entrenamiento:
#los resultados obtenidos se combinan a fin de obtener un modelo único más robusto en comparación con los resultados de cada árbol por separado
#En este caso realiza 59 estimaciones y luego se entrena al modelo y se testea

modelo = RandomForestRegressor(
            n_estimators = 59,
            max_features = 'auto',
            n_jobs       = -1
         )

modelo.fit(dataset_train_X, dataset_train_Y)

RandomForestRegressor(n_estimators=59, n_jobs=-1)

In [ ]:
#inferencia del modelo
inferencia = modelo.predict(X = dataset_test_X)
print(type(inferencia))

<class 'numpy.ndarray'>

In [ ]:
#Se guardan los datos en listas para facilitar las operaciones
x = [float(inferencia[i]) for i in range(len(inferencia))]
y = [float(dataset_test_Y.loc[i]) for i in dataset_test_Y.index]

result = [((x[i]*100)/y[i]) for i in range(len(x))]

print('resultados por valor: ', result)

n = 0.0
for i in range(len(result)):
  n = n + result[i]

n = n/len(result)
Valor_abs = abs(n-100)

print("Errors in the AI model: ", Valor_abs,"%")

resultados por valor:  [149.19052585832247, 95.08947898708102, 84.79686948906472, 136.98863553225218, 98.84366304072854, 86.27304883487035, 89.29783208513993, 104.56333151084382, 96.36858921617025, 84.9351186440678, 96.73587570621469, 107.52457627118643, 98.47403128235871, 103.6296385180741, 90.06575522052627, 100.92234046563054, 106.01789229086933, 100.0883094306823, 96.88135593220339, 101.96940269127104, 88.89639147074905, 107.75667796610169, 134.60215693472236, 99.35928004403262, 94.92610169491526, 105.81532951170891, 99.78112533647197, 108.03379815100153, 108.57432823480778, 109.99468837581743, 109.01018316019685, 211.21418079096046, 95.78511781727988, 103.4414295574814, 100.52476134813949, 107.09639310949984, 102.38313721256611, 102.37396716101695, 89.19841136656039, 104.80988431530805, 103.95364177737059, 98.52008788449466, 96.26460549386324, 107.87316818774445, 94.28761510743361, 102.14844521553451, 99.26061920903955, 103.09892821535392, 95.18350491251418, 86.35590071889594, 93.51888778110116, 151.21777777777777, 109.03662520503006, 103.54179833381212, 98.73088647725886, 83.81847577833874, 87.95439743943336, 89.74208936416771, 102.2373940677966, 144.16820424801546, 101.52903225806452, 110.26354391371339, 97.29206937327551, 84.64787619124607, 103.46012942989215, 99.7103292217588, 97.26346624865288, 108.38894325491579, 97.5873714663061, 97.47659184608338, 178.4666182546426, 95.48328572335427, 97.37515640996475, 102.41875044323098, 88.16161074599331, 90.42881880886218, 87.99597392728526, 102.28588597842834, 72.17105907710395, 92.61878224023582, 116.05832109969306, 102.18239171374765, 95.77912073547992, 90.16686754551162, 94.19303201506591, 65.88711265881328, 81.65640235470744, 107.05865298840321, 96.88369652945924, 100.41100846892277, 102.2601848998459, 101.44432363287495, 92.92434890450599, 107.75080164910675, 99.67241187236412, 89.94642720844091, 104.79995899398578, 97.19940179461615, 101.37908464807306, 102.16645782496869, 96.24229583975347, 118.25021338861114, 91.05302282129988, 103.49078478849168, 102.16127617148555, 100.64408785477885, 127.60677966101696, 110.81951186440678, 100.81707130859672, 97.94267985071248, 91.20029438001784, 90.00585437564858, 110.26884313502445, 116.77802175562864, 80.33389730510909, 87.36301478543095, 92.94948487869723, 109.44957442084228, 100.52172439204128, 114.40200954024155, 91.8345531587057, 111.36577826905754, 91.07413887370147, 99.26795272078502, 101.93961354845138, 91.96861871650009, 99.3004056207446, 107.26336375488917, 115.02415804534449, 89.34436555199267, 99.83472102458263, 106.89543000627746, 86.30429050051619, 93.40539900056669, 69.70387870168177, 91.25751776927282, 110.64094707205933, 104.71897162445248, 91.22183449651047, 77.10014299533164, 123.87360980887128, 104.85748671146324, 94.94373717412785, 91.30741332727524, 103.02109024278515, 105.07991655801825, 85.16156959424755, 103.05895275068647, 85.82131060978996, 87.87043112273918, 101.38112688960148, 84.10955315870571, 91.27057304277643, 91.7915174663802, 101.00588362301632, 96.32457935285053, 95.3171699884061, 102.21949889462049, 98.94439137134053, 90.59815953800648, 98.33279347143754, 99.67889580204535, 103.12325115562403, 94.00257968233663, 115.76577229876722, 241.12898305084747, 95.03460867397806, 95.0244182706119, 100.77421850717843, 108.09306625577811, 144.72095531587058, 77.56283808150017, 93.65837924199833, 96.63506571617319, 99.80703804885212, 91.88779002797433, 95.83106668019893, 76.10798380976473, 99.41028638223261, 97.76287766314218, 105.59003599691039, 80.88870556472177, 82.98743848414776, 87.22441837984147, 101.42717609882219, 98.77837003009662, 94.35602711864408, 102.54880656998077, 99.61646129859679, 98.08972849968613, 118.19241836374775, 105.57250906240816, 106.67617016500168, 98.08984723461195, 98.36959322033898, 96.00701894317048, 105.09996955242057, 141.6527558066541, 103.40983635300992, 100.38634312888672, 109.5169731371922, 99.80621073841414, 113.26422005170927, 102.01040149513437, 103.9501261748167, 100.0750047609979, 107.24404221298369, 111.95644853518912, 105.37489381869972, 103.15266430923059, 99.02799883610969, 95.65374939212897, 94.38954174513496, 77.10814254275896, 114.02171511536156, 103.9578705958122, 96.23490093100978, 96.54756225151705, 91.69331348532728, 85.16984736398538, 81.47494384316927, 90.22646346674263, 94.3691184561912, 119.68009801919543, 165.3071869662331, 100.06730110030342, 103.71417565485362, 102.4525292340034, 112.68392589672843, 117.81108213820077, 100.87092651757189, 92.51457594664545, 111.29493018741134, 92.39135673548077, 100.45012273524256, 91.11054127938765, 111.91628831332503, 91.95531247666692, 110.67680834419816, 92.42700039416634, 107.2489212510297, 114.93179661016949, 84.98905738923581, 113.2965806927045, 119.28061182306739, 107.1815466101695, 106.43209611671315, 118.77561345813305, 103.05719815861059, 108.80503293612611, 126.03536185095508, 100.2329935007009, 114.84480294057586, 83.558169030324, 107.10190416405106, 117.05183399473353, 107.31262486305341, 121.58225324027917, 106.28323632874961, 88.03794399410465, 107.28934624697337, 101.92885122410546, 86.4250388929829, 95.71242026608347, 90.1029798690571, 138.28902143742985, 108.5060436221217, 110.7211342276488, 102.73519517205959, 123.15347291458957, 96.3924653312789, 156.2762839301644, 119.82424252339507, 100.96784266764924, 92.19572520411823, 97.43987931493477, 96.01467133157068, 96.15362246593551, 107.45056947608201, 104.37928301426656, 118.66075211864406, 94.2248784082535, 92.06297349562053, 113.958242368912, 83.57452990572355, 141.88712459113887, 101.37691812073479, 92.87448902975679, 80.86791767554479, 102.39201813165157, 127.56424061149883, 99.8707670802027, 103.19160677966102, 96.21342857142857, 106.84567796610169, 102.37192707591511, 104.86389671112055, 95.68453008022641, 72.5582405165456, 99.13758723828515, 121.73019491525423, 77.32819857929603, 112.66471682513435, 81.16475484261503, 90.18907280756821, 102.55682674199623, 96.31936002337814, 107.6403076009669, 95.63885267275099, 83.83469000685405, 84.59662214064106, 81.66303840771265, 104.00369799691835, 108.60677166613367, 105.3448784082535, 112.13893320039881, 93.87274360663591, 105.48968158286647, 93.7193843187899, 92.04864421686568, 67.40478182473855, 77.1916479477231, 97.05207579508667, 95.55060198714202, 106.84998789346247, 78.07588377723971, 122.36425467188178, 80.49487978192136, 102.00391949152542, 91.19159911569639, 95.22411680620789, 94.14965409892771, 108.3437875350327, 109.05196789630483, 102.81246654772525, 91.40716869414547, 100.1437434609751, 124.21038520801233, 131.95070365642826, 103.95712861415753, 149.0670998116761, 96.52462469733656, 109.43502824858757, 98.85612302166348, 91.75709404045926, 97.26670949251371, 99.04716285924836, 96.78658151320099, 106.12812065865144, 105.1532956685499, 119.17851694915254, 117.98705312633528]
Errors in the AI model:  2.0054608765094457 %

In [ ]:
#Importar el dataset de predicción a hacer
url = "https://drive.google.com/uc?export=download&id=1zLhk4TR1gkwZ5tLV3nnlxP21Pppl9H9p" #leer de internet
Final = pd.read_csv(url, sep=',') #Leer archivo de url y separar por comas
K = Final.copy()

In [ ]:
#Se verifican valores nulos 
Nulos = Final.isnull().sum()
#print(Nulos.to_string())

In [ ]:
#Se verifica la media para reemplazar los valores nulos
Final['SaleType'].mode()

0    WD
dtype: object

In [ ]:
#Eliminar valores nulos
Final['LotFrontage'].fillna(0 , inplace=True)   #280 datos nullos reemplazados por 0
Final['GarageQual'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
Final['GarageCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
Final['Electrical'].fillna('Mix' , inplace=True)   #Reemplazar, Electricidad no existentes
Final['BsmtCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
Final['MSZoning'].fillna('RL' , inplace=True)   #Reemplazar, Garajes no existentes
Final['Exterior1st'].fillna('VinylSd' , inplace=True)   #Reemplazar, Garajes no existentes
Final['Exterior2nd'].fillna('VinylSd' , inplace=True)   #Reemplazar, Garajes no existentes
Final['BsmtFinSF1'].fillna(0 , inplace=True)   #Reemplazar, Garajes no existentes
Final['BsmtUnfSF'].fillna(0 , inplace=True)   #Reemplazar, Garajes no existentes
Final['TotalBsmtSF'].fillna(0 , inplace=True)   #Reemplazar, Garajes no existentes
Final['KitchenQual'].fillna('TA' , inplace=True)   #Reemplazar, Garajes no existentes
Final['Functional'].fillna('Typ' , inplace=True)   #Reemplazar, Garajes no existentes
Final['GarageCars'].fillna(2 , inplace=True)   #Reemplazar, Garajes no existentes
Final['GarageArea'].fillna(0 , inplace=True)   #Reemplazar, Garajes no existentes
Final['SaleType'].fillna('WD' , inplace=True)   #Reemplazar, Garajes no existentes

In [ ]:
#Se evaluan los features que no tienen relevancia o que son muy poco correlacionados con el target
Final.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1459.000000,...,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,57.910212,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,438.902673,...,472.444825,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,32.266054,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.257119,...,217.326902,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,0.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,44.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,317.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,63.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.000000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,78.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,752.000000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [ ]:
#Eliminacion de features con valores nulos o con muy poca correlacion con el target


A = ['Id', 'BsmtFullBath', 'BsmtHalfBath', 'Alley', 'PoolQC', 'Fence', 'MiscFeature','FireplaceQu', 'HalfBath', 
               'LowQualFinSF', '2ndFlrSF', 'BsmtFinSF2', 'MasVnrArea', 'GarageType', 'GarageYrBlt', 'GarageFinish',
               'BsmtFinType2', 'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'MasVnrType', 'LandSlope']

Final.drop(A, axis='columns', inplace=True)

In [ ]:
#Verificacion para que no se encuentren valores nulos
Nulos1 = Final.isnull().sum()
print(Nulos1.to_string())

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        2
LotConfig        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
ExterQual        0
ExterCond        0
Foundation       0
BsmtCond         0
BsmtFinSF1       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
GrLivArea        0
FullBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0

In [ ]:
# Se usa label encoder para datos categóricos
#Se importa la librería para decodificación
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
 
# Implementing LE on mfr
le.fit(Final.MSZoning.drop_duplicates()) 
Final.MSZoning = le.transform(Final.MSZoning)
le.fit(Final.Street.drop_duplicates()) 
Final.Street = le.transform(Final.Street)
le.fit(Final.LotShape.drop_duplicates()) 
Final.LotShape = le.transform(Final.LotShape)
le.fit(Final.LandContour.drop_duplicates()) 
Final.LandContour = le.transform(Final.LandContour)
le.fit(Final.Utilities.drop_duplicates()) 
Final.Utilities = le.transform(Final.Utilities)
le.fit(Final.LotConfig.drop_duplicates()) 
Final.LotConfig = le.transform(Final.LotConfig)
le.fit(Final.Neighborhood.drop_duplicates()) 
Final.Neighborhood = le.transform(Final.Neighborhood)
le.fit(Final.Condition1.drop_duplicates()) 
Final.Condition1 = le.transform(Final.Condition1)
le.fit(Final.Condition2.drop_duplicates()) 
Final.Condition2 = le.transform(Final.Condition2)
le.fit(Final.BldgType.drop_duplicates()) 
Final.BldgType = le.transform(Final.BldgType)
le.fit(Final.HouseStyle.drop_duplicates()) 
Final.HouseStyle = le.transform(Final.HouseStyle)
le.fit(Final.RoofStyle.drop_duplicates()) 
Final.RoofStyle = le.transform(Final.RoofStyle)
le.fit(Final.RoofMatl.drop_duplicates()) 
Final.RoofMatl = le.transform(Final.RoofMatl)
le.fit(Final.Exterior1st.drop_duplicates()) 
Final.Exterior1st = le.transform(Final.Exterior1st)
le.fit(Final.Exterior2nd.drop_duplicates()) 
Final.Exterior2nd = le.transform(Final.Exterior2nd)
le.fit(Final.ExterQual.drop_duplicates()) 
Final.ExterQual = le.transform(Final.ExterQual)
le.fit(Final.ExterCond.drop_duplicates()) 
Final.ExterCond = le.transform(Final.ExterCond)
le.fit(Final.Foundation.drop_duplicates()) 
Final.Foundation = le.transform(Final.Foundation)
le.fit(Final.BsmtCond.drop_duplicates()) 
Final.BsmtCond = le.transform(Final.BsmtCond)
le.fit(Final.Heating.drop_duplicates()) 
Final.Heating = le.transform(Final.Heating)
le.fit(Final.HeatingQC.drop_duplicates()) 
Final.HeatingQC = le.transform(Final.HeatingQC)
le.fit(Final.CentralAir.drop_duplicates()) 
Final.CentralAir = le.transform(Final.CentralAir)
le.fit(Final.Electrical.drop_duplicates()) 
Final.Electrical = le.transform(Final.Electrical)
le.fit(Final.KitchenQual.drop_duplicates()) 
Final.KitchenQual = le.transform(Final.KitchenQual)
le.fit(Final.Functional.drop_duplicates()) 
Final.Functional = le.transform(Final.Functional)
le.fit(Final.GarageQual.drop_duplicates()) 
Final.GarageQual = le.transform(Final.GarageQual)
le.fit(Final.GarageCond.drop_duplicates()) 
Final.GarageCond = le.transform(Final.GarageCond)
le.fit(Final.PavedDrive.drop_duplicates()) 
Final.PavedDrive = le.transform(Final.PavedDrive)
le.fit(Final.SaleType.drop_duplicates()) 
Final.SaleType = le.transform(Final.SaleType)
le.fit(Final.SaleCondition.drop_duplicates()) 
Final.SaleCondition = le.transform(Final.SaleCondition)

Final

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,Neighborhood,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,2,80.0,11622,1,3,3,0,4,12,...,0,0,0,120,0,0,6,2010,8,4
1,20,3,81.0,14267,1,0,3,0,0,12,...,36,0,0,0,0,12500,6,2010,8,4
2,60,3,74.0,13830,1,0,3,0,4,8,...,34,0,0,0,0,0,3,2010,8,4
3,60,3,78.0,9978,1,0,3,0,4,8,...,36,0,0,0,0,0,6,2010,8,4
4,120,3,43.0,5005,1,0,1,0,4,22,...,82,0,0,144,0,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,4,21.0,1936,1,3,3,0,4,10,...,0,0,0,0,0,0,6,2006,8,4
1455,160,4,21.0,1894,1,3,3,0,4,10,...,24,0,0,0,0,0,4,2006,8,0
1456,20,3,160.0,20000,1,3,3,0,4,11,...,0,0,0,0,0,0,9,2006,8,0
1457,85,3,62.0,10441,1,3,3,0,4,11,...,32,0,0,0,0,700,7,2006,8,4
1458,60,3,74.0,9627,1,3,3,0,4,11,...,48,0,0,0,0,0,11,2006,8,4

In [ ]:
#Verificación Dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407 entries, 0 to 1459
Data columns (total 59 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1407 non-null   int64
 1   MSZoning       1407 non-null   int64
 2   LotFrontage    1407 non-null   float64
 3   LotArea        1407 non-null   int64
 4   Street         1407 non-null   int64
 5   LotShape       1407 non-null   int64
 6   LandContour    1407 non-null   int64
 7   Utilities      1407 non-null   int64
 8   LotConfig      1407 non-null   int64
 9   Neighborhood   1407 non-null   int64
 10  Condition1     1407 non-null   int64
 11  Condition2     1407 non-null   int64
 12  BldgType       1407 non-null   int64
 13  HouseStyle     1407 non-null   int64
 14  OverallQual    1407 non-null   int64
 15  OverallCond    1407 non-null   int64
 16  YearBuilt      1407 non-null   int64
 17  YearRemodAdd   1407 non-null   int64
 18  RoofStyle      1407 non-null   int64
 19  RoofMatl       1407 non-null   int64
 20  Exterior1st    1407 non-null   int64
 21  Exterior2nd    1407 non-null   int64
 22  ExterQual      1407 non-null   int64
 23  ExterCond      1407 non-null   int64
 24  Foundation     1407 non-null   int64
 25  BsmtCond       1407 non-null   int64
 26  BsmtFinSF1     1407 non-null   int64
 27  BsmtUnfSF      1407 non-null   int64
 28  TotalBsmtSF    1407 non-null   int64
 29  Heating        1407 non-null   int64
 30  HeatingQC      1407 non-null   int64
 31  CentralAir     1407 non-null   int64
 32  Electrical     1407 non-null   int64
 33  1stFlrSF       1407 non-null   int64
 34  GrLivArea      1407 non-null   int64
 35  FullBath       1407 non-null   int64
 36  BedroomAbvGr   1407 non-null   int64
 37  KitchenAbvGr   1407 non-null   int64
 38  KitchenQual    1407 non-null   int64
 39  TotRmsAbvGrd   1407 non-null   int64
 40  Functional     1407 non-null   int64
 41  Fireplaces     1407 non-null   int64
 42  GarageCars     1407 non-null   int64
 43  GarageArea     1407 non-null   int64
 44  GarageQual     1407 non-null   int64
 45  GarageCond     1407 non-null   int64
 46  PavedDrive     1407 non-null   int64
 47  WoodDeckSF     1407 non-null   int64
 48  OpenPorchSF    1407 non-null   int64
 49  EnclosedPorch  1407 non-null   int64
 50  3SsnPorch      1407 non-null   int64
 51  ScreenPorch    1407 non-null   int64
 52  PoolArea       1407 non-null   int64
 53  MiscVal        1407 non-null   int64
 54  MoSold         1407 non-null   int64
 55  YrSold         1407 non-null   int64
 56  SaleType       1407 non-null   int64
 57  SaleCondition  1407 non-null   int64
 58  SalePrice      1407 non-null   int64
dtypes: float64(1), int64(58)
memory usage: 691.8 KB

In [ ]:
#Se pureba el modelo de predicción con el dataset de prueba
inferencia1 = modelo.predict(Final)
F1 = pd.DataFrame(inferencia1)

K = pd.DataFrame(K['Id'])


F1.rename(columns = {0:'SalePrice'}, inplace = True)

for col in F1.columns:
    print(col)
  
F2 = pd.concat([K, F1], axis = 1)
F2 = F2.reset_index(drop=True)
F2.to_csv('prediccion_resultados.csv', index=False)
F2

SalePrice

        Id      SalePrice
0     1461  123380.491525
1     1462  156911.559322
2     1463  171057.016949
3     1464  186470.338983
4     1465  205236.949153
...    ...            ...
1454  2915   88982.203390
1455  2916   89836.796610
1456  2917  151871.186441
1457  2918  109900.000000
1458  2919  223987.186441

[1459 rows x 2 columns]