In [ ]:
#Abdel

#system
import os
import sys

#DataScience
import pandas as pd    #pandas

#analisis numerico
import numpy as np

#librerias graficas
import matplotlib.pyplot as plt
import seaborn as sns

#M l  ----"Machine Learning"
import tensorflow as tf
import keras
import sklearn
from sklearn.model_selection import train_test_split

#import el dataset de datos
#url1 = "/content/drive/MyDrive/Datasets/dataset.csv" #leer de internet
url1 = "https://drive.google.com/uc?export=download&id=1awKeUpVP-GPlk6QmrAlmkSGzrNEW3uUN" #leer de internet
df_Data = pd.read_csv(url1, sep=',') #Leer archivo de url y separar por comas

#Importar el dataset de predicción a hacer
url = "https://drive.google.com/uc?export=download&id=1zLhk4TR1gkwZ5tLV3nnlxP21Pppl9H9p" #leer de internet
df_Final = pd.read_csv(url, sep=',') #Leer archivo de url y separar por coma

df_Data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

Warning: Total number of columns (60) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#reduccion manual del dataset
A = ['Id', 'BsmtFullBath', 'BsmtHalfBath', 'Alley', 'PoolQC', 'Fence', 'MiscFeature','FireplaceQu', 'HalfBath', 
               'LowQualFinSF', '2ndFlrSF', 'BsmtFinSF2', 'MasVnrArea', 'GarageType', 'GarageYrBlt', 'GarageFinish',
               'BsmtFinType2', 'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'MasVnrType']
df_Data.drop(A , axis='columns', inplace=True)

#Eliminar valores nulos
df_Data['LotFrontage'].fillna(0 , inplace=True)   #280 datos nullos reemplazados por 0
df_Data['GarageQual'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
df_Data['GarageCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes
df_Data['Electrical'].fillna('Mix' , inplace=True)   #Reemplazar, Electricidad no existentes
df_Data['BsmtCond'].fillna('NA' , inplace=True)   #Reemplazar, Garajes no existentes


for i in df_Data.index:    
    if df_Data.loc[i,'LotArea'] >= 20000:      #Remover 5 datos atipicos
        df_Data.drop(index = i, axis = 'index', inplace=True)


#df_Data.describe()

#Verificación valores nulos

F = df_Data.isnull().sum()
print(F.to_string())

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
ExterQual        0
ExterCond        0
Foundation       0
BsmtCond         0
BsmtFinSF1       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
GrLivArea        0
FullBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0

In [ ]:
#renombramiento de los features (columnas)
f = {"SepalLengthCm":"Sepalo_L", "Species":"Target",  "SepalWidthCm":"Sepalo_A", "PetalLengthCm":"Petalo_L", "PetalWidthCm":"Petalo_A"}

df_Data.rename(columns = f, inplace=True)             #renombramiento

df_Data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [ ]:
Dato = df_Data["Target"][4]
Dato

KeyError: ignored

In [ ]:
#Convertir a la celda en grafico
%matplotlib inline

#Graficar
k = ["Sepalo_L","Sepalo_A","Petalo_L","Petalo_A"]
colores = ["red","purple","black","green"]
n=0
while n != 4:
  plt.plot(df_Data[k[n]], color=colores[n])
  plt.ylabel(k[n])
  plt.xlabel("Samples")
  plt.show()
  n= n+1

In [ ]:
%matplotlib inline

sns.set()
sns.pairplot(df_Data, hue="Target")

In [ ]:
#Splitting ("Division de los datos")
# train_test_split (dataset, % del entrenamiento)
dataset_train, dataset_test = train_test_split(df_Data, train_size=0.7, shuffle=True)

#verificar el data set
dataset_train

#verificar el test
dataset_test

In [ ]:
#separacion del Target y los features
#AHORA LOS features son X, el Target es Y
dataset_train_X = dataset_train.drop("Target", axis="columns")
dataset_train_Y = dataset_train["Target"]
dataset_test_X = dataset_test.drop("Target", axis="columns")
dataset_test_Y = dataset_test["Target"]

dataset_test_Y

In [ ]:
#Algoritmo de clasificacion (Supervisado)

#Naive Bayes Gausiano

#importar el modelo a ser utilizado
from sklearn.naive_bayes import GaussianNB  #Escoger el modelo de aprendizaje

#Instanciar el modelo
model = GaussianNB()

#model.fit Toma features y target
model.fit(dataset_train_X, dataset_train_Y)

In [ ]:
#Inferencia del modelo
inferencia = model.predict(dataset_test_X) #Prediccion del modelo
inferencia

#Validacion Automatica
from sklearn.metrics import accuracy_score
#la funcion accuracy_score toma como argumento (Target_Validation, Inferencia)
model_accuracy = accuracy_score(dataset_test_Y, inferencia)
print("Exactitud: ", str(model_accuracy*100),"%")

In [ ]:
#Crear un ejemplo inventado como data set de TESTING
dataset_inventado = dataset_test_X
dataset_inventado = dataset_inventado[1:2]
dataset_inventado["Sepalo_L"]= 4.3
dataset_inventado["Sepalo_A"]= 3.2
dataset_inventado["Petalo_L"]= 0.5
dataset_inventado["Petalo_A"]= 5.0
dataset_inventado

In [ ]:
#nueva inferencia dataset inventado
inferencia_inventado = model.predict(dataset_inventado)
print(inferencia_inventado)

**TAREA**

In [ ]:
#unsupervised learning
#nuevo modelo usando Gaussian mixture models

#Importar las librerias
from sklearn.mixture import GaussianMixture

#Creación del modelo---Instanciacion
New_Model = GaussianMixture(n_components=3).fit(dataset_train_X)

#Toma features and Target
#New_Model.fit(dataset_train_X, dataset_train_Y)

#Inferencia del modelo
infe = New_Model.predict(dataset_test_X) #Prediccion del modelo

In [ ]:
#Decodificación de los datos

H = []

for i in range(len(infe)):
    if infe[i] == 0:
      H.append('Iris-versicolor')
    elif infe[i] == 1:
      H.append('Iris-setosa')
    elif infe[i] == 2:
      H.append('Iris-virginica')
    else:
      pass

J = []
for index in dataset_test_Y.index:
    if dataset_test_Y.loc[index] == 'Iris-versicolor':
        J.append('Iris-versicolor')
    elif dataset_test_Y.loc[index] == 'Iris-setosa':
        J.append('Iris-setosa')
    elif dataset_test_Y.loc[index] == 'Iris-virginica':
        J.append('Iris-virginica')
    else:
        pass

print("infe: ", infe)
print("--------------------------------------")
print("H :", H)
print("J :", J)
print("--------------------------------------")
print("Dataset: ", dataset_test_Y)
print("--------------------------------------")

#la funcion accuracy_score toma como argumento (Target_Validation, Inferencia)
model_accuracy = accuracy_score(J, H)
print("Exactitud: ", str(model_accuracy*100),"%")